@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Poor+Story&display=swap');
.box{
    font-family: 'Poor Story', system-ui;
    background-color: rgb(14, 76, 95);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 25px;
    
    padding: 10px 11px 20px 21px ; /*método do relógio 12h, 15h, 18h, 21h.*/
}